@import "../../styles.scss";

.slidebar {
  flex: 5;
  margin: 0 20px;

  .slider {
    color: white;
    margin-bottom: 10px;

    .MuiSlider-markLabel {
      font-family: "Inconsolata", monospace;
      font-size: 14px;
      color: white;
    }
  }
}

@media screen and (max-width: $max-width) {
  .slidebar {
    width: 100%;
    flex-basis: 100%;
    order: 2;
  }
}
