.slidebar {
  flex: 5;
  margin: 0 20px;

  .slider {
    color: white;
    margin-bottom: 10px;

    .MuiSlider-markLabel {
      font-family: "Inconsolata", monospace;
      font-size: 14px;
      color: white;
    }
  }
}
