@import "../../styles.scss";

.control {
  height: 40px;
  padding: 20px;
  background-color: black;
  opacity: 0.8;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__icon {
    color: white;
    opacity: 0.8;
    padding: 5px;
    transition: 0.2s ease !important;
    flex: 1;
    margin-bottom: 10px;

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: $max-width) {
  .control {
    height: 80px;

    &__button {
      height: 0px;
    }
  }
}
