.main {
  &__container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
  }

  &__bottom {
    position: fixed;
    z-index: 99;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }

  &__corner {
    position: fixed;
    top: 5%;
    left: 3%;
    border-radius: 7px;
    overflow: hidden;
    background-color: black;
    opacity: 0.8;

    &__icon {
      color: white;
      opacity: 0.8;
      padding: 5px;
      transition: 0.2s ease !important;
      flex: 1;

      &:hover {
        opacity: 1;
      }
    }
  }
}
