.main {
  .container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
  }
}

.box {
  position: absolute;
  z-index: 99;
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30px;
  background-color: black;
  opacity: 0.8;
  border-radius: 7px;
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    width: 550px;
  }

  .dates {
    color: black;
    padding: 15px;
  }
}
