@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTooltip-tooltipPlacementTop {
  font-family: "Inconsolata", monospace !important;
}
