.settings {
  margin: 10px 20px;
  background: #1d1d1d;
  opacity: 0.9;
  padding: 10px;
  border-radius: 7px;

  &__row {
    display: flex;
    align-items: center;
    margin: 10px;

    .MuiToggleButton-root {
      background: #0e0e0e;
      opacity: 0.8;

      &:hover {
        background: #141414;
        opacity: 1;
      }
    }

    .MuiToggleButton-label {
      font-family: "Inconsolata", monospace;
      color: white;
      width: 50px;
    }

    .Mui-selected {
      color: white !important;
      background: #535353 !important;
      font-weight: bold;
    }
  }

  &__label {
    font-family: "Inconsolata", monospace;
    color: white;
    width: 100px;
    font-size: 14px;
    cursor: default;
  }
}
